body{
    width: 100%;
}
.headSection{
    display: flex;
    justify-content: space-between;
    padding-left: 100px;
    width: 90%;
}
.liIcon{
    width: 100%;
}
.nav{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #FECD45;
    padding-top: 10px;
}
.nav h1{
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    font-size: larger;
    
}
ul{
    display: flex;
    justify-content: start;
    list-style-type: none;
    padding: 0;
    font-family: "Poppins", sans-serif;
}

.nav-search{
    display: flex;
    width: 80%;
    margin-left: 5%;
    
}

.nav-search input{
    border: 1px solid #2568FB;
    border-right: 0;
    flex: 1;
    height: 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding-left: 7px; 
}
.nav-search input:focus{
    border: 1px solid #2568FB;
}
.nav-search button{
    border: 1px solid black;
    border-left: 0;
    height: 30px;
color: #FECD45;
   background-color:  black;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px
}
ul li{
    padding-left: 10%;
}
li a{
    text-decoration: none;
    color: black;
}
.logo{
    color: #2568FB;
    font-size: 30px;
}

.sellerItems{
    width: 100%;
    display: flex;
    justify-content: space-around;
}
.sellerSel{
    width:15vw ;
}
li a:hover{
color: #2568FB;
}
.suggested-result{
    position: absolute;
    display: list-item;
    width: 300px;
    z-index: 10;
    top: 40px;
    background-color: #fff;
    border: 1px solid #ddd;
}
.suggested-result li{
    border: 1px solid #ddd;
    padding: 5px;
}
.autoSearch{
    cursor: pointer;
}
.items{
    width: 80%;
}
.items fa-icon{
    padding-right: 6px;
}