

table{
    text-align: center;
    color: black;
    border-collapse:collapse
}
table th,table td{
    border: 1px solid black;
    padding: 10px;
    min-height: 160px;
    font-family:"Poppins", sans-serif;
    
}
img{
    width: 100px;
    height: 100px;
    background-size: contain;
}
.product-list{
    display: flex;
    margin-top: 20px;
    flex-direction: column;
    text-align: center;
    padding: 20px;
    background-color: #FECD45;
    font-family:"Poppins", sans-serif;
}
.action{
    display: flex;
    justify-content: space-around;
    align-items: center;

}
.editIcon{
    color: black;
    cursor: pointer;
}
