<div class="product-list">
    <h1>All product List</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Color</th>
                <th>Category</th>
                <th>Description</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productList">
                <td class="image"><img src="{{product.image}}" ></td>
                <td>{{product.name}}</td>
                <td>{{product.price}}</td>
                <td>{{product.color}}</td>
                <td>{{product.category}}</td>
                <td>{{product.description}}</td>
                <td class="action">
                    <fa-icon class="editIcon" (click)="deleteProduct(product)" [icon]="icon"></fa-icon>
                    <a class="editIcon" routerLink="/seller-update-product/{{product.id}}"><fa-icon [icon]="editIcon"></fa-icon></a>
                </td>
            </tr>
        </tbody>
    </table>
</div>