*{
    background-color: #FECD45;
}
.popular-product{
    object-fit: contain;
    height: 600px;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}
.carousel-control-prev-icon,.carousel-control-next-icon{
    background-color: black;
    color: black;
}
#ngb-carousel-0-previous{
    background-color: black;
}
.coro{
    padding-right: 8%;
}
.slide{
    width: 100%;
   
}
.carousel-caption{
    border-radius: 25px;
    
    width: 500px;
    margin-left: 18%;
    
}
.carousel-caption h3,p{
background-color: transparent;
color: #2568FB;

}
.active{
    color: #2568FB;
}
.but{
    height: fit-content;
    white-space: nowrap;
    padding: 4px;
}
.des{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 1%;
    padding-top: 2%;
}
.picsum-img-wrapper{
    display: flex;
    justify-content: space-evenly;
    padding: 1%;
}
.pro-image{
height: 20vh;
    object-fit: contain;
    background-color: #fff;
    padding-top: 10px;
    padding-bottom: 10px;
    transition: transform ease-in-out 0.3s;
}
.pro-image:hover{
    transform: scale(1.10);
}
.button{
    display: flex;
    justify-content: space-around;
}.sub-main{
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding-left: 20px;
    overflow: hidden;
    
}
.card-body a{
    background-color: #2568FB;
}
.card-text{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.sub-main2{
    width: 100%;
    display: flex;
    
    object-fit: cover;
}
.mag{
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.coroLink{
    color: black;
}